<div id="<%= portlet.id -%>" class="panel panel-<%= panel_color(portlet.current_service) %>" data-id="<%= portlet.id -%>">
  <div class="panel-heading portlet-handler">
    <em class="fa fa-folder-o"></em> <%= portlet.name -%>
    <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
      <em class="fa fa-minus"></em>
    </a>
    <%= link_to '<em class="fa fa-gear"></em>'.html_safe, service_path(portlet.id), class: 'pull-right', title: 'Service' -%>
  </div>
  <div class="panel-body">
    <!-- Bar chart-->
    <div class="text-center" style="position:relative;overflow:hidden;">
      <% unless portlet.services.count == 0 %>
      <div data-tooltip-chart-title="Status" data-bar-color="<%= bar_color portlet.current_service %>" data-zero-color="#CCCCCC" data-null-color="#FFFFFF" data-height="30" data-bar-width="6" data-bar-spacing="6" data-bar-spread="true" class="inlinesparkline inline"><%= portlet.services.order_by(:created_at.desc).limit(30).map{|e| e[:status].to_i unless e[:status].nil?}.compact.join(',') -%></div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6">
        <% if page != 'dashboard' %><input type="checkbox" class="switch_checkbox"<%= portlet.dashboard_portlets.count > 0 ? ' checked="true"' : '' -%> /><% end %>
      </div>
      <div class="col-sm-6 text-right">
        <button data-toggle="modal" data-target="#modal-<%= portlet.id -%>" style="background:none;border:none;padding:0;">See more &nbsp; <i class="fa fa-external-link"></i></button>
      </div>
    </div>
  </div>
</div>

<div id="modal-<%= portlet.id -%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabel" class="modal-title"><%= portlet.name -%></h4>
      </div>
      <div class="modal-body"><%= portlet.inspect -%></div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>
