<div id="<%= portlet.id -%>" class="panel panel-<%= panel_color(portlet.current_service) %>" data-id="<%= portlet.id -%>">
  <div class="panel-heading portlet-handler">
    <em class="fa fa-files-o"></em> <%= portlet.name -%>
    <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
      <em class="fa fa-minus"></em>
    </a>
  </div>
  <div class="panel-body">
    <!-- Bar chart-->
    <div class="text-center" style="position:relative;overflow:hidden;">
      <% unless portlet.services.count == 0 %>
      <div data-tooltip-fields="Block,Inode" data-stacked-bar-color="#6AB550,#4B7F38" data-zero-color="#CCCCCC" data-null-color="#FFFFFF" data-chart-range-min="0" data-height="30" data-bar-width="6" data-bar-spacing="6" data-bar-spread="true" class="inlinesparkline inline"><%= portlet.services.order_by(:created_at.desc).limit(30).map{|e| "#{e[:block]['percent'].to_f unless e[:block].nil?}:#{e[:inode]['percent'].to_f unless e[:inode].nil?}" unless e[:block].nil? && e[:inode].nil?}.compact.join(',') -%></div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer"><i class="fa fa-star-o add-favorite"></i><span class="pull-right">See more &nbsp; <i class="fa fa-external-link"></i></span></div>
</div>
