<div id="<%= portlet.id -%>" class="panel panel-<%= panel_color(portlet.current_service) %>" data-id="<%= portlet.id -%>">
  <div class="panel-heading portlet-handler">
    <em class="fa fa-file-o"></em> <%= portlet.name -%>
    <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
      <em class="fa fa-minus"></em>
    </a>
    <%= link_to '<em class="fa fa-gear"></em>'.html_safe, service_path(portlet.id), class: 'pull-right', title: 'Service' -%>
  </div>
  <div class="panel-body">
    <div class="text-center" style="position:relative;overflow:hidden;">
      <% unless portlet.services.count == 0 %>
      <div style="background:#FFFFFF;font-size:30px;font-weight:bold;color:<%= bar_color(portlet.current_service) %>;line-height:30px;padding-left:5px;position:absolute;top:0;right:0;text-align:left;"><%= number_to_human_size portlet.services.last.size.to_i -%></div>
      <div data-chart-range-min="0" data-bar-color="<%= bar_color(portlet.current_service) %>" data-height="30" data-bar-width="6" data-bar-spacing="6" class="inlinesparkline inline" data-bar-spread="true"><%= portlet.services.order_by(:created_at.desc).limit(30).map{|e| e[:size].to_i unless e[:size].nil?}.compact.join(',') -%></div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6">
        <% if page != 'dashboard' %><input type="checkbox" class="switch_checkbox"<%= portlet.dashboard_portlets.count > 0 ? ' checked="true"' : '' -%> /><% end %>
      </div>
      <div class="col-sm-6 text-right">
        <div class="text-right">See more &nbsp; <i class="fa fa-external-link"></i></div>
      </div>
    </div>
  </div>
</div>
