<div id="<%= portlet.id -%>" class="panel panel-<%= panel_color(portlet.current_service) %>" data-id="<%= portlet.id -%>">
  <div class="panel-heading portlet-handler">
    <em class="fa fa-cube"></em> <%= portlet.name -%>
    <a href="javascript:void(0);" data-perform="panel-collapse" data-toggle="tooltip" title="" class="pull-right" data-original-title="Collapse Panel">
      <em class="fa fa-minus"></em>
    </a>
  </div>
  <div class="panel-body">
    <!-- Bar chart-->
    <div class="text-center" style="position:relative;overflow:hidden;">
      <% unless portlet.services.count == 0 %>
      <div data-bar-color="<%= bar_color(portlet.current_service) %>" data-chart-range-min="0" data-height="30" data-bar-width="6" data-bar-spacing="6" data-bar-spread="true" class="inlinesparkline inline"><%= portlet.services.order_by(:created_at.desc).limit(30).map{|e| e[:program]['status'].to_i unless e[:program].nil?}.compact.join(',') -%></div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <div class="col-sm-6">
        <% if page != 'dashboard' %><input type="checkbox" class="switch_checkbox"<%= portlet.dashboard_portlets.count > 0 ? ' checked="true"' : '' -%> /><% end %>
      </div>
      <div class="col-sm-6 text-right">
        <div class="text-right">See more &nbsp; <i class="fa fa-external-link"></i></div>
      </div>
    </div>
  </div>
</div>
