<div class="main-content">
  <h3><%= @server.localhost_name %>
    <br>
    <small><i class="fa fa-globe"></i> <%= @server.ip %> &nbsp;&nbsp;&nbsp; <i class="fa fa-arrow-up" alt="Uptime"></i> <%= ChronicDuration.output @server.uptime, :format => :short -%> &nbsp;&nbsp;&nbsp; <%= image_tag 'admin/icons/cpu-16.png', :style => 'height:14px;margin-bottom:3px;' -%> <%= @server.cpu -%> &nbsp;&nbsp;&nbsp; <%= image_tag 'admin/icons/ram-16.png', :style => 'height:14px;margin-bottom:3px;' -%> <%= @server.memory.to_i > 1000000 ? (@server.memory.to_i / 1000000).to_s + ' GB' : @server.memory.to_s + ' MB' -%> &nbsp;&nbsp;&nbsp; <i class="fa fa-history"></i> <%= ChronicDuration.output @server.poll, :format => :short -%></small>
  </h3>
  <div class="row">

    <div id="column-1" data-toggle="portlet" class="col-lg-4">
    <% @portlets[:one].each do |portlet| %>
       <%= call_service(portlet) -%>
    <% end %>
    </div>
    <div id="column-2" data-toggle="portlet" class="col-lg-4">
    <% @portlets[:two].each do |portlet| %>
      <%= call_service(portlet) -%>
    <% end %>
    </div>
    <div id="column-3" data-toggle="portlet" class="col-lg-4">
    <% @portlets[:three].each do |portlet| %>
      <%= call_service(portlet) -%>
    <% end %>
    </div>

  </div>
</div>
