<div class="main-content">
  <h3><%= @server.localhost_name %>
    <br>
    <small><i class="fa fa-globe"></i> <%= @server.ip %> &nbsp;&nbsp;&nbsp; <i class="fa fa-caret-square-o-up" alt="Uptime"></i> <%= ChronicDuration.output @server.uptime, :format => :short -%> &nbsp;&nbsp;&nbsp; <strong>CPU</strong> <%= @server.cpu -%> &nbsp;&nbsp;&nbsp; <strong>MEM</strong> <%= @server.memory.to_i > 1000000 ? (@server.memory.to_i / 1000000).to_s + ' GB' : @server.memory.to_s + ' MB' -%> &nbsp;&nbsp;&nbsp; <i class="fa fa-history"></i> <%= ChronicDuration.output @server.poll, :format => :short -%></small>
  </h3>
  <div class="row">

    <div id="column-1" data-toggle="portlet" class="col-lg-4">
    <% @services[:one].each do |service| %>
       <%= call_service(service) -%>
    <% end %>
    </div>
    <div id="column-2" data-toggle="portlet" class="col-lg-4">
    <% @services[:two].each do |service| %>
      <%= call_service(service) -%>
    <% end %>
    </div>
    <div id="column-3" data-toggle="portlet" class="col-lg-4">
    <% @services[:three].each do |service| %>
      <%= call_service(service) -%>
    <% end %>
    </div>

  </div>
</div>
