<div class="main-content">
  <h3><%= @server.localhost_name %>
    <br>
    <small><%= @server.ip %></small>
  </h3>
  <div class="row">
    <% @services.each do |service| %>
    <div class="col-lg-4">
      <!-- START panel-->
      <div class="panel panel-<%= panel_color(service.current_event.status) %>">
        <div class="panel-heading"><%= panel_icon(service.type) %> <%= service.name -%></div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
        </div>
        <div class="panel-footer">Panel Footer</div>
      </div>
      <!-- END panel-->
    </div>
    <% end %>
  </div>
</div>
