<div class="main-content">
  <h3><%= @server.localhost_name %>
    <br>
    <small><i class="fa fa-globe"></i> <%= @server.ip %> &nbsp;&nbsp;&nbsp; <i class="fa fa-caret-square-o-up" alt="Uptime"></i> <%= ChronicDuration.output @server.uptime, :format => :short -%> &nbsp;&nbsp;&nbsp; <strong>CPU</strong> <%= @server.cpu -%> &nbsp;&nbsp;&nbsp; <strong>MEM</strong> <%= @server.memory.to_i > 1000000 ? (@server.memory.to_i / 1000000).to_s + ' GB' : @server.memory.to_s + ' MB' -%> &nbsp;&nbsp;&nbsp; <i class="fa fa-repeat"></i> <%= ChronicDuration.output @server.poll, :format => :short -%></small>
  </h3>
  <div class="row">

    <% @services.each do |service| %>
      <% case service.type.to_i %>
        <% when 0 %>
          <%= render :partial => 'shared/panels/filesystem', locals: { service: service } %>
        <% when 2 %>
          <%= render :partial => 'shared/panels/file', locals: { service: service } %>
        <% when 3 %>
          <%= render :partial => 'shared/panels/process', locals: { service: service } %>
        <% when 4 %>
          <%= render :partial => 'shared/panels/host', locals: { service: service } %>
        <% when 5 %>
          <%= render :partial => 'shared/panels/system', locals: { service: service } %>
        <% else %>
          <% # err %>
      <% end %>
    <% end %>

  </div>
</div>
