<%= form_for(@account_type) do |f| %>
  <% if @account_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account_type.errors.count, "error") %> prohibited this account_type from being saved:</h2>

      <ul>
      <% @account_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :data_limit %><br>
    <%= f.number_field :data_limit %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :stripe_subscription_plan -%>
    <%= f.text_field :stripe_subscription_plan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
