<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account_type.name %>
</p>

<p>
  <strong>Data limit:</strong>
  <%= @account_type.data_limit %>
</p>

<p>
  <strong>Price:</strong>
  <%= @account_type.price %>
</p>

<p><strong>stripe_subscription_plan</strong><%= @account_type.stripe_subscription_plan -%></p>

<%= link_to 'Edit', edit_account_type_path(@account_type) %> |
<%= link_to 'Back', account_types_path %>
