<!DOCTYPE html>
<!--[if lt IE 7]> <html class="ie ie6 lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="ie ie7 lt-ie9 lt-ie8"        lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="ie ie8 lt-ie9"               lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="ie ie9"                      lang="en"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-ie">
<!--<![endif]-->

<head>
  <!-- Meta-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="description" content="IT monitoring with your favorite open source monit">
  <meta name="keywords" content="monit, open source, monitoring, cloud provider">
  <meta name="author" content="Monit Now">
  <title>Monit Now - IT monitoring with your favorite open source monit</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
  <%= stylesheet_link_tag 'landing_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- START wrapper-->
<header>
  <div class="container">
    <nav class="row">
      <div class="col-md-2 app-logo">
        <a href="#" class="logo-wrapper">
          <%= image_tag 'admin/logo.png', class: 'img-responsive', alt: 'Monit Now' -%>
        </a>
      </div>
      <div class="col-md-10">
        <ul class="list-inline menuapp-buttons">
          <li class="mr-lg">
            <a href="#features">
              <strong>Features</strong>
            </a>
          </li>
          <li class="mr-lg">
            <a href="/login">
              <strong>Login</strong>
            </a>
          </li>
          <li>
            <a href="#pricing">
              <strong class="text-green">Sign Up</strong>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="header-content">
      <div class="row row-flush row-table">
        <div class="col-xs-12 col-lg-6 align-middle">
          <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="0" class="app-presentation">
            <%= image_tag 'admin/landing/app-mobile.png', class: 'img-responsive', alt: 'Monit Now' -%>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 align-middle">
          <div class="side-presentation">
            <div class="h1 header-title">Server Downtime Is Not An Option!</div>
            <br>
            <p class="header-subtitle">Use Monit Now To Monitor Your Server Systems And Recover Those Systems If A Fail Occurs.</p>
            <br>
            <div class="header-button">
              <a href="#" class="btn btn-primary btn-lg btn-fw">
                <strong>Discover Now</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section id="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="page-header">Powerful Server Monitoring for SMBs</h2>
        <p>We recognize that business face the challenge of managing server systems with limited budgets.</p>
        <p>Monit Now’s fully multi-tenanted server Monitoring capabilities can play a vital role in setting you apart from competitors, aligning your operational costs with revenues and ensuring your service levels meet your customer’s expectations.</p>
        <br>
        <p>
          <a href="#" class="btn btn-success">
            <strong>Start Demo Now</strong>
          </a>
        </p>
      </div>
      <div data-toggle="play-animation" data-play="fadeInRight" data-offset="-250" class="col-lg-6">
        <%= image_tag 'admin/landing/app-multi.png', class: 'img-responsive', alt: 'Monit Now' -%>
      </div>
    </div>
  </div>
</section>
<section class="bg-white">
  <div class="container">
    <div class="row">
      <div data-toggle="play-animation" data-play="fadeInLeft" data-offset="-250" class="col-lg-6">
        <%= image_tag 'admin/landing/app-chart.png', class: 'img-responsive', alt: 'Monit Now' -%>
      </div>
      <div class="col-lg-6">
        <h2 class="page-header">Easy to Deploy & Use</h2>
        <p>Monit Now was designed to be easy-to-use. It is already available on most servers so installation is either non-existent or extremely easy and there is very little to manage.</p>
        <p>Time to value, that's the key. You need a tool that's easy to use and fast to deploy.</p>
        <p>No expensive consultants or staff required to configure instrumentation. Start seeing results straightaway.</p>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="page-header">Why Choose Monit Now?</h2>
        <p>As one of the most powerful server fault and performance management tool, Monit Now is currently used by more thousands of organizations across the world.</p>
        <p>Automated workflows, intelligent alerting engines, configurable discovery rules, and extendable templates enable you to setup a 24x7 Monitoring system within minutes of installation.</p>
        <p>Monit Now’s easy-to-use server Monitoring, server reporting, and server alerting will help you stay on top of server health across all platforms, including server performance, server availability, and server capacity.</p>
        <br>
        <p>
          <a href="#" class="btn btn-green">
            <strong>Watch Now</strong>
          </a>
        </p>
      </div>
      <div data-toggle="play-animation" data-play="fadeInRight" data-offset="-250" class="col-lg-6">
        <%= image_tag 'admin/landing/app-widget.png', class: 'img-responsive', alt: 'Monit Now' -%>
      </div>
    </div>
  </div>
</section>
<section class="bg-purple" id="quick-features">
  <div class="container">
    <h2 data-toggle="play-animation" data-play="fadeInUp" data-offset="0" class="section-header">Tons of features
      <br>
      <small class="text-white text-center">Monit Now comes packed with tons of feature ready to use.</small>
    </h2>
    <div class="row">
      <div class="col-lg-3">
        <ul class="feature-list">
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Access Live Data</h4>
            <p>Monit Now has been engineered to be fast and get you everything you need on demand.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>View history</h4>
            <p>View a full history of every detail that goes on over the course of your servers activities.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>SSL Encrypted</h4>
            <p>Every point of communication is kept private with 2048-bit SSL encryption technology.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Export Data</h4>
            <p>Keep your data as long as you want by archiving it to a archive endpoint.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Dashboard Widgets</h4>
            <p>Organize your service widgets in custom dashboards.</p>
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <%= image_tag 'admin/landing/iphone.png', class: 'img-responsive center-block', alt: 'Monit Now' -%>
      </div>
      <div class="col-lg-3">
        <ul class="feature-list">
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Multiple Users</h4>
            <p>Assign multiple users per account or make dashboards public. The choice is yours.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Service Alerts</h4>
            <p>Receive live alerts via text message, email, or push request to your favorite pushable device.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Mobile Ready Interface</h4>
            <p>Every laptop, tablet and phone is your connection to Monit Now.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Developer API</h4>
            <p>Request any of your data live, from Monit Now, through our helpful developer API.</p>
          </li>
          <li data-toggle="play-animation" data-play="fadeInUp" data-offset="0">
            <h4>
              <span class="point point-primary point-lg"></span>Custom Domain Name</h4>
            <p>Use your own domain name with your domain name to provide a seamless bridge to Monit Now.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="clients" class="bg-white">
  <div class="container">
    <h2 class="section-header">Working with the best
      <br>
      <small class="text-muted text-center">Monit Now makes your life easier. The best choice for your servers.</small>
    </h2>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-xs-12">
        <%= image_tag 'landing_page/activezoo.jpg', class: 'img-responsive grayscale', alt: 'Monit Now' -%>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <%= image_tag 'landing_page/captiveinverts.png', class: 'img-responsive grayscale', alt: 'Monit Now' -%>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <%= image_tag 'landing_page/fracture.png', class: 'img-responsive grayscale', alt: 'Monit Now' -%>
      </div>
      <div class="col-lg-3 col-md-6 col-xs-12">
        <%= image_tag 'landing_page/missinghippo.png', class: 'img-responsive grayscale', alt: 'Monit Now' -%>
      </div>
    </div>
  </div>
</section>
<section id="testimonial" class="bg-primary">
  <div class="container">
    <div id="carousel-testimonial" data-ride="carousel" class="carousel slide">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-testimonial" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-testimonial" data-slide-to="1"></li>
        <li data-target="#carousel-testimonial" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h4>
                <em>Etiam id nunc felis. Quisque quam turpis, viverra sit amet auctor laoreet, aliquam vitae neque. Integer sagittis ultricies neque vitae suscipit. Integer ut convallis dui. Praesent vel nisi nibh. Nunc lacinia, sem ac laoreet
                  egestas, risus lacus vulputate dui, quis pellentesque eros est id nisi.</em>
              </h4>
              <p>
                <strong>- John Titor</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h4>
                <em>Etiam id nunc felis. Quisque quam turpis, viverra sit amet auctor laoreet, aliquam vitae neque. Integer sagittis ultricies neque vitae suscipit. Integer ut convallis dui. Praesent vel nisi nibh. Nunc lacinia, sem ac laoreet
                  egestas, risus lacus vulputate dui, quis pellentesque eros est id nisi.</em>
              </h4>
              <p>
                <strong>- Mary Mayer</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h4>
                <em>Quisque non lacinia lacus. Pellentesque odio purus, egestas ac luctus gravida, rutrum ut quam. Quisque quam turpis, viverra sit amet auctor laoreet, aliquam vitae neque. Curabitur nec congue erat. Aliquam erat volutpat. Phasellus
                  ullamcorper rhoncus sagittis. Sed vestibulum quam ut arcu tempus sed placerat nibh venenatis.</em>
              </h4>
              <p>
                <strong>- John Mayer</strong>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Controls -->
      <a href="#carousel-testimonial" data-slide="prev" class="left carousel-control">
        <em class="fa fa-chevron-circle-left"></em>
      </a>
      <a href="#carousel-testimonial" data-slide="next" class="right carousel-control">
        <em class="fa fa-chevron-circle-right"></em>
      </a>
    </div>
  </div>
</section>
<section id="pricing">
  <div data-toggle="play-animation" data-play="fadeInLeftBig" data-offset="-200" class="container">
    <div class="col-md-3 pricing-table belize-hole bordered">
      <ul>
        <li class="title">
          Basic
        </li>
        <li class="price">
          <span class="currency-symbol">$</span>
          <strong>9</strong>
          <sup>99</sup>
          <em>/mo</em>
        </li>
        <li>
          <span class="pull-right">100 MB</span>Data Usage
        </li>
        <li>
          <span class="pull-right">1</span>Users
        </li>
        <li>
          <span class="pull-right">Users</span>Display
        </li>
        <li>
          <span class="pull-right">Optional</span>SSL
        </li>
        <li>
          <span class="pull-right"><strong>Unlimited</strong></span>Custom Alerts
        </li>
        <li class="button">
          <button class="btn btn-large">
            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Sign Up
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-3 pricing-table belize-hole bordered">
      <ul>
        <li class="title">
          Standard
        </li>
        <li class="price">
          <span class="currency-symbol">$</span>
          <strong>39</strong>
          <sup>99</sup>
          <em>/mo</em>
        </li>
        <li>
          <span class="pull-right">500 MB</span>Data Usage
        </li>
        <li>
          <span class="pull-right">500 GB</span>Bandwidth
        </li>
        <li>
          <span class="pull-right">5</span>Domain
        </li>
        <li>
          <span class="pull-right">25</span>Subdomain
        </li>
        <li>
          <span class="pull-right">14 days</span>Data Retention
        </li>
        <li class="button">
          <button class="btn btn-large">
            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Sign Up
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-3 pricing-table belize-hole bordered standout">
      <ul>
        <li class="title">
          Advance
        </li>
        <li class="price">
          <span class="currency-symbol">$</span>
          <strong>89</strong>
          <sup>99</sup>
          <em>/mo</em>
        </li>
        <li class="label">
          Most Popular!
        </li>
        <li>
          <span class="pull-right">1 GB</span>Data Usage
        </li>
        <li>
          <span class="pull-right"><strong>Unlimited</strong></span>Bandwidth
        </li>
        <li>
          <span class="pull-right">25</span>Domain
        </li>
        <li>
          <span class="pull-right">100</span>Subdomain
        </li>
        <li>
          <span class="pull-right">30 days</span>Data Retentian
        </li>
        <li class="button">
          <button class="btn btn-large">
            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Sign Up
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-3 pricing-table belize-hole bordered">
      <ul>
        <li class="title">
          Professional
        </li>
        <li class="price">
          <span class="currency-symbol">$</span>
          <strong>189</strong>
          <sup>99</sup>
          <em>/mo</em>
        </li>
        <li>
          <span class="pull-right"><i class="icon-ok"></i></span>
          <span class="pull-right">2 GB</span>Data Usage
        </li>
        <li>
          <span class="pull-right"><i class="icon-ok"></i></span>
          <strong>Unlimited</strong> Bandwidth
        </li>
        <li>
          <span class="pull-right"><i class="icon-ok"></i></span>
          <strong>Unlimited</strong> Domain
        </li>
        <li>
          <span class="pull-right"><i class="icon-ok"></i></span>
          <strong>Custom</strong> Subdomain
        </li>
        <li>
          <span class="pull-right"><i class="icon-ok"></i></span>
          <strong>Unlimited</strong> Datas
        </li>
        <li class="button">
          <button class="btn btn-large">
            <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Sign Up
          </button>
        </li>
      </ul>
    </div>
    <div class="col-md-12">
      <p class="text-center" style="padding-top:10px;">Contact us at <a href="mailto:support@monitnow.com">support@monitnow.com</a> if you have bigger needs.</p>
    </div>

  </div>
</section>
<footer class="footer-1 bg-inverse">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 col-xs-6">
        <nav>
          <h5>PRODUCT</h5>
          <ul class="list-unstyled">
            <li><a href="#">Documentation</a>
            </li>
            <li><a href="#">Features</a>
            </li>
            <li><a href="#">Developer API</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-2 col-xs-6">
        <nav>
          <h5>CONTACT</h5>
          <ul class="list-unstyled">
            <li><a href="#">Support</a>
            </li>
            <li><a href="#">Sales</a>
            </li>
            <li><a href="#">Forum</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-2 col-xs-6">
        <nav>
          <h5>COMPANY</h5>
          <ul class="list-unstyled">
            <li><a href="#">About</a>
            </li>
            <li><a href="#">Education</a>
            </li>
            <li><a href="#">Non-profits</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-sm-2 col-xs-6">
        <nav>
          <h5>Say HI</h5>
          <ul class="list-unstyled">
            <li><a href="http://twitter.com/monitnow" target="_blank" title="Twitter">Twitter</a>
            </li>
            <li><a href="#" target="_blank" title="Facebook">Facebook</a>
            </li>
            <li><a href="#" target="_blank" title="Google+">Google+</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-4 col-xs-12">
        <form action="#" method="post">
          <h5>SUBSCRIBE TO OUR NEWSLETTER!</h5>
          <div class="input-group">
            <input type="email" name="email" placeholder="mail@example.com" required="" class="form-control">
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-info">Join</button>
                     </span>
          </div>
          <!--/input-group -->
        </form>
        <p class="text-muted">
          <small>We will never send spam and you can unsubscribe any time</small>
        </p>
      </div>
    </div>
  </div>
</footer>
<footer class="footer-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>Copyright 2014 | <a href="#">Terms of Service </a>| <a href="#">Privacy Policy</a>
        </p>
      </div>
      <div class="col-lg-4"></div>
      <div class="col-lg-4">
        <p>Crafted with
          <em class="fa fa-heart text-danger fa-fw"></em>
          <span>from Austin, Texas.</span>
        </p>
      </div>
    </div>
  </div>
</footer>
<!-- END wrapper-->
<%= javascript_include_tag 'landing_page', 'data-turbolinks-track' => true %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55148245-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
