<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class="field">
      <%#= f.label :account_type_id, 'Account Type' -%>
      <%#= f.error :account_type_id -%><br />
      <%#= f.collection_radio_buttons :account_type_id, [[1, 'Free'], [2, 'Personal'], [3, 'Premiere'], [4, 'Business']], :first, :last %>
    </div>

    <%= f.simple_fields_for :user do |u| %>
      <%= u.error_notification %>

      <div class="field">
        <%= u.label :full_name %>
        <%= u.error :full_name %><br />
        <%= u.input_field :full_name %>
      </div>

      <div class="field">
        <%= u.label :email %>
        <%= u.error :email %><br />
        <%= u.email_field :email %>
      </div>

      <div class="field">
        <%= u.label :password %>
        <%= u.error :password %><br />
        <%= u.password_field :password %>
      </div>

      <div class="field">
        <%= u.label :password_confirmation %>
        <%= u.error :password_confirmation %><br />
        <%= u.password_field :password_confirmation %>
      </div>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
