<%= notice -%>

<%= simple_form_for( @account, html: { id: 'payment-form' } ) do |f| %>
  <%= f.error_notification %>

<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="form-group">
        <label>Account Type</label>
        <select name="account_type_id" class="form-control">
          <% AccountType.all.each do |type| %>
            <option value="<%= type.id -%>"><%= type.name -%> - $<%= type.price -%></option>
          <% end %>
        </select>
      </div>

      <div class="form-group">
        <%= f.label :name, 'Account Name' -%>
        <%= f.input_field :name, class: 'form-control' -%>
      </div>

      <%= f.simple_fields_for :user do |u| %>
      <%= u.error_notification %>

      <div class="form-group">
        <label>Your Name</label>
        <%= u.input_field :full_name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Email</label>
        <%= u.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Password</label>
        <%= u.password_field :password, class: 'form-control' %>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <%= u.password_field :password_confirmation, class: 'form-control' %>
      </div>

      <% end %>

      <span class="payment-errors"></span>

      <div class="form-group">
        <label>Card Number</label>
        <input type="text" size="20" data-stripe="number" class="form-control" value="4242424242424242" />
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Exp Month</label>
            <input type="text" size="2" data-stripe="exp-month" class="form-control" placeholder="MM" value="01" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Exp Year</label>
            <input type="text" size="4" data-stripe="exp-year" class="form-control" placeholder="YYYY" value="2015" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>CVC</label>
            <input type="text" size="4" data-stripe="cvc" placeholder="Ex. 331" class="form-control" value="123" />
          </div>
        </div>
      </div>

      <div class="form-group">
        <input type="checkbox" id="has_coupon_code_checkbox" />
        Do you have a coupon?
      </div>

      <div class="form-group" id="has_coupon_code_container" style="display:none;">
        <label>Coupon Code</label>
        <input type="text" size="20" data-stripe="coupon" class="form-control" id="data_stripe_coupon" />
      </div>

      <button type="submit" class="btn btn-primary">Pay Now</button>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
  </div>
</div>

<% end %>
